@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
:root{
    --blue : #64B5FF;
    --abuhitam : #333333;
    --white : #fff;
    --abu : #ddd;
    --red : #dc3545;
}
*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    box-sizing: border-box;
    /* background-color: var(--blue);  */
    min-height: 75vh; 
    background: linear-gradient(var(--blue) 50%, var(--white) 50%);
} 
/* .portofolio{
    min-height: 100vh;  
} */ 
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content{
    padding: 1.4rem 7%;
    margin-top: 25vh; 
    background-color: var(--white);
    border-radius: 16px 16px 0 0; 
} 
.main-content.portofolio{
    margin-bottom: 2rem;
}

.main-hero{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -120px;
    border: 5px solid var(--white);
    margin-bottom: 1.5rem;
}
.main-hero img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-title{
    margin-bottom: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}
.main-title h2{
    color: var(--blue);
}
.main-title p{
    font-weight: 600;
}
.main-subtitle{ 
    margin-bottom: 2.5rem; 
    text-align: center;
}
.main-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.main-footer .footer-image{
    width: 50px;
    height: 50px;
    margin:  0 0.2rem;
    cursor: pointer;
}
.main-footer .footer-image:hover img{
    transition: .2s;
    transform: scale(1.1);
}
.main-footer .footer-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.main-navigasi{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
}
.main-navigasi ul{
    display: flex;
    justify-content: center;
}
.main-navigasi ul li{
    /* margin: 0 0.2rem; */
    padding : .3rem 1.5rem;
    border-radius: .5rem .5rem 0 0;
    transition: .2s;
    cursor: pointer;
}
.main-navigasi ul li:hover{
    margin: 0 0.2rem;
    background-color: var(--blue); 
}
.main-navigasi ul li:hover a{
    color: var(--white);
}

.main-navigasi ul li a{
    font-weight: 600;
    color: var(--blue);
}

.main-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.main-flex.portofolio{
    justify-content: center;
    gap: 5px;
} 
.main-flex.contact{
    gap: .5rem;
    margin-bottom: 2rem;
}
.main-flex.contact .contact-box{ 
    flex: 1 0 400px; 
}
.main-flex.contact .contact-box .button{
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button.submit{
    /* float: right; */
    color: var(--white);
    background-color: var(--red);
}
.button.submit:hover{
    background-color: #c02e3d;
}

.main-flex.contact .contact-box label{
    font-size: .8rem;
    display: inline-block;
    margin-bottom: 4px;
}
.main-flex.contact .contact-box input[type='text'], .main-flex.contact .contact-box textarea{ 
    box-sizing: border-box;    
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--abu);
}
.main-flex.contact .contact-box input[type='text']:focus, .main-flex.contact .contact-box textarea:focus{
    outline: none;
}
.flex-portofolio-items{
    width: 300px;
    height: 200px;
    background-color: #333333;
    border-radius: 4px;
    flex: 1 0 300px;
    overflow: hidden;
} 
.flex-portofolio-items img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.flex-portofolio-items:nth-child(odd){ 
    flex: 1 0 200px;
}
.main-flex .main-card{
    flex: 1 0 300px;
    padding: 0 0.5rem;
}
.main-flex .main-card:last-child{
    margin-bottom: 2rem;
}
.main-flex .main-card .card-title h4{
    color: var(--blue);
    margin-bottom: .8rem;
}
 
.main-flex .card-content .content-item{  
    display: flex; 
    flex-direction: column;
    margin-bottom: 10px;
}
.main-flex .card-content .content-item p{
    font-weight: 500; 
    margin-bottom: 3px;
    font-size: .9rem;
} 
.main-flex .card-content .content-item span{
    margin-left: .5rem;
}
 

.main-flex .card-content .content-item .line{
    display: flex;
    flex-wrap: nowrap;
}
.main-flex .card-content .content-item .line::before{
    content: "";
    display: inline-block;  
    width: 200px;   
    height: 7px; 
    background-color: var(--blue);
    border-radius: 5px 0 0 5px;
}
.main-flex .card-content .content-item .line::after{
    content: "";
    display: inline-block;  
    width: 30px;   
    height: 7px; 
    background-color: var(--abu);
    border-radius: 0 5px 5px 0;
} 
.main-flex .card-content .content-item .line.js::before{
    width: 210px; 
}
.main-flex .card-content .content-item .line.js::after{
    width: 20px;
}
.main-flex .card-content .content-item .line.mo::before{
    width: 180px; 
}
.main-flex .card-content .content-item .line.mo::after{
    width: 50px;
}

.main-flex .card-content .content-item .line.pm::before{
    width: 170px; 
}
.main-flex .card-content .content-item .line.pm::after{
    width: 60px;
}
.main-flex .card-content .content-item .line.cl::before{
    width: 200px; 
}
.main-flex .card-content .content-item .line.cl::after{
    width: 30px;
}
.main-flex .card-content .content-item .line.cc::before{
    width: 220px; 
}
.main-flex .card-content .content-item .line.cc::after{
    width: 10px;
}
.main-flex .card-content .content-item .line.dm::before{
    width: 180px; 
}
.main-flex .card-content .content-item .line.dm::after{
    width: 50px;
}

.content-title{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-titlep{
    font-size: .7rem;
    position: absolute;
    top: 4%;
    right: 0;
    transform: translate(-50%, -50%);
    color: var(--white);
}
.content-title h2{
    color: var(--white);
}

@media screen and (max-width: 567px){ 
    .main-navigasi ul li a{
        font-size: 75%;
    }
} 